@charset "utf-8";
main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}
.site-header {
    .site-title {
        font-weight: 550;
        font-size: 32px;
        letter-spacing: -0.022em;
        > a {
            color: $text-color;
            text-decoration: none;
        }
    }
    .site-nav {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.011em;
			li {
				display: inline-block;
				+ li:before {
					content: " | ";
					padding: 0 10px;
				}
				> a {
					color: $text-color;
					&:hover {
						text-decoration: none;
					}
					&.active, &:hover {
						border-bottom: 2px solid #666;
					}
					+ a {
						margin-left: 1rem;
					}
				}
			}
		}
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
            color: $meta-color;
            margin-right: 1.5rem;
            font-size: $small-font-size;
            font-family: $base-mono-font-family;
            //float: left;
            //width: 100px;
        }
        a {
            color: $text-color;
            text-decoration: none;
        }
    }
}
.post {
    position: relative;
    .post-header {
        text-align: center;
        margin-bottom: 0;
    }
    .post-subtitle {
    	text-align: center;
    	margin: 0;
    	font-size: 16px;
    	color: #b0b0b0;
    }
    .post-meta {
        margin: 0;
        text-align: center;
        color: $meta-color;
        font-size: $small-font-size;
        font-family: $header-font-family;
        letter-spacing: -0.006em;
        font-weight: 440;
    }
}
@media screen and (max-width: 48rem) {
    .site-header {
        .site-title,
        .site-nav {
            text-align: center;
        }
    }
}
